body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #1d5996;
  color: #fff;
}

:root {
  --dgray: #33393f;
  --blue: #2f79ce;
  --white: #f1f8f4;
  --turquoise: #4DE8C4;
  
}

::selection {
  background-color: var(--blue);
  color: var(--dgray);
}

html {
  font-size: 70%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--dgray);
}

a{
  color:var(--turquoise);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--turquoise);
  font-weight: 500;
  line-height: 1.1;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 400px;
}
p {
  margin-bottom: 1rem;
}

header {
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: center;
}

header h1.page-title {
  padding: 1rem 1.2rem;
  font-size: 9rem;
}

main {
  width: 96%;
  margin: 2rem auto;
}

footer {
  margin: 1.5rem;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.justify-center {
  justify-content: center;
}

.card-column {
  flex: 1 0 100%;
  padding: 1.5rem;
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
}


.project-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  padding: 2rem;
  color: var(--heliotrope);


  outline: 2px solid var(--white);
  outline-offset: -2px;
  transition: all 0.5s ease-in-out;
}

.project-card .card-header {
  position: relative;
  margin: -4rem 0 1.5rem 0;
  padding: 0.5rem 1rem;
  background-color: var(--dgray);
  color: var(--turquoise);
  border: 2px solid var(--white);
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.project-card:hover,
.project-card:hover .card-header {
  box-shadow: inset 0px 0px 8px var(--turquoise), 0 0 15px var(--turquoise);
}


.project-card .project-block {
  flex-grow: 1;
}

.project-card p {
  white-space: pre-wrap;
  overflow: auto;
  tab-size: 4;
  padding: 1.2rem 1rem;
  color: var(--white);
  border-radius: 8px;
  background-image: url(./images/placeholder.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

/* on <pre> click, select all contents so the code is highlighted */
.project-card pre:active {
  user-select: all;
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow */
  .card-column:last-child {
    flex-grow: 1;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

#about-me{
font-size: 3rem;
}

#resume{
  font-size: 3rem;
}

#contact{
  font-size: 3rem;
}

#work{
  font-size: 3rem;
}

.hr{
  width: 98%;
  margin: auto;
}